<div class="task-columns">
  <div class="task-column">
    <h2>To do</h2>
    <div *ngFor="let task of tasks1">
      <div *ngIf="task.status.toString() === 'To Do'">

        <app-task-card [task]="task"></app-task-card>
      </div>
    </div>
  </div>
  
  <div class="task-column">
    <h2>In progress</h2>
    <div *ngFor="let task of tasks1">
      <div *ngIf="task.status.toString() === 'In Progress'">

        <app-task-card [task]="task"></app-task-card>
      </div>
    </div>
  </div>

  <div class="task-column">
    <h2>Done</h2>
    <div *ngFor="let task of tasks1">
      <div *ngIf="task.status.toString() === 'Completed'">
        <app-task-card [task]="task"></app-task-card>
      </div>
    </div>
  </div>
</div>
